<% layout('layouts/boilerplate') %>
<h1><%= camp.title %></h1>
<hr />
<h2><%= camp.location %></h2>

<img src="<%= camp.image %>" alt="" />
<p><%= camp.description %></p>
<footer>
  <a href="/campgrounds">All Campgrounds</a>
  <a href="/campgrounds/<%= camp._id %>/edit ">Edit Campground</a>
  <form action="/campgrounds/<%= camp._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete Campground</button>
  </form>
</footer>
